# Day 1
## Introduction to Python

In [1]:
print("Hello world")

Hello world

# Escape Sequence:

1. "\n" -> new line
2. "\t" -> one tab space
3. " \" or \' " -> used to print "" or '' in your output

In [4]:
# new line "\n"
print("Hello world. \nHow are you?")

Hello world.
How are you?

In [5]:
# one tab space "\t"
print("Hello world.\tHow are you?")

Hello world.	How are you?

In [12]:
# \" or \'
print("Hello 'world'")
print('Hello "world"')
print('Hello \'world\'') # using \'
print("Hello \"world\"") # using \"

Hello 'world'
Hello "world"
Hello 'world'
Hello "world"

In [13]:
# Attributes (parameters)
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [17]:
# sep
print("Hello world", "How are you?", "Today is a fine day",sep="\n")

# without sep
print("Hello world", "How are you?", "Today is a fine day")

Hello world
How are you?
Today is a fine day
Hello world How are you? Today is a fine day

In [19]:
# without end
print("Hello world")
print("How are you?")

# end
print("Hello world", end=' ')
print("How are you?")

Hello world
How are you?
Hello world How are you?

# Variables:

It is a type of an empty container inside which data from various sources can be added.

## Syntax for creating a variables

`var-name` = value

## Rules for creating variables

1. A variable name cannot start with a number -> a1 (Correct) & 1a (Incorrect)
2. A variable name cannot contain spaces -> Hriday_Goswami or HridayGoswami (Correct) & Hriday Goswami (Incorrect)
3. A variable name cannot contain special characters
4. A variable name cannot be a reserved keyword: (print, if, else, int, for, while, ...)

In [20]:
print = "Hi"

In [21]:
print(print)

TypeError: 'str' object is not callable

In [1]:
print("Hello")

Hello

In [2]:
1a = 5

SyntaxError: invalid decimal literal (1590746202.py, line 1)

In [3]:
a 1 = 1

SyntaxError: invalid syntax (694281977.py, line 1)

In [4]:
a* = 10

SyntaxError: invalid syntax (4003372824.py, line 1)

# Datatypes:

1. Primitive Datatype (one variable one value)
    * int (numbers)
    * float (decimals)
    * string (words, sentences, paragraphs)
        * Single Line String -> '' or ""
        * Multi Line String -> """ """
    * Boolean (True or False)
    
2. Non-primitive Datatype (one variable multiple value)
    * list [] (martix) {changes} -> mutable
    * tuple () (martix) {no changes} -> immutable
    * dict
    * set {}

In [7]:
# int -> int
integer = 10

In [8]:
print(integer)

10

In [9]:
print("The variable integer has", integer)

The variable integer has 10

In [14]:
print(type(integer))

<class 'int'>

In [10]:
# float -> float
flt = 10.56

In [11]:
print(flt)

10.56

In [12]:
print("The variable flt has", flt)

The variable flt has 10.56

In [15]:
print(type(flt))

<class 'float'>

In [27]:
# string -> str
string = "Hello world" # single line string
multi_string = """Hello world 
Today is a fine day
Let's drink milk"""

In [28]:
print(string)

Hello world

In [29]:
print(multi_string)

Hello world
Today is a fine day
Let's drink milk

In [30]:
print(type(string))

<class 'str'>

In [31]:
print(type(multi_string))

<class 'str'>

In [32]:
# boolean -> bool
boolean_1 = True
boolean_2 = False

In [33]:
print(boolean_1)
print(boolean_2)

True
False

In [34]:
print(type(boolean_1))
print(type(boolean_2))

<class 'bool'>
<class 'bool'>

# Typecasting
Going from one datatype to another

In [35]:
inetger = 10

In [36]:
integer

10

In [37]:
float(integer)

10.0

In [38]:
str(integer)

'10'

In [39]:
bool(integer)

True

In [40]:
bool(0)

False

In [41]:
bool("0")

True

In [42]:
# list -> list
l = [1,2,3,1.1,2.3,3.1,'ABC', 'DEF', True, False]

In [43]:
l

[1, 2, 3, 1.1, 2.3, 3.1, 'ABC', 'DEF', True, False]

In [44]:
# l[index]
# index_start = 0 to index_end = length_of_list-1
len(l)

10

In [45]:
l[0]

1

In [46]:
l[10]

IndexError: list index out of range

In [47]:
l[9]

False

In [48]:
l[-1]

False

In [49]:
l[-2]

True

In [51]:
l[7] = 'XYZ'

In [52]:
l

[1, 2, 3, 1.1, 2.3, 3.1, 'ABC', 'XYZ', True, False]

In [54]:
# tuple
t = (1, 2, 3, 1.1, 2.3, 3.1, 'ABC', 'XYZ', True, False)

In [55]:
# indexing same as list
t[0]

1

In [56]:
t[9]

False

In [57]:
t[-1]

False

In [58]:
t[-2]

True

In [60]:
t[7] = 'DEF'

TypeError: 'tuple' object does not support item assignment

In [61]:
# dict
d = {
    "index":"value",
    "int":10,
    "float":10.5,
    "str":"ABC",
    "bool":True,
    "list":[1,2,3],
    "tuple":(1,2,3),
    "dict":{
        "1":"2",
        "3":"4"
    }
}

In [63]:
d

{'index': 'value',
 'int': 10,
 'float': 10.5,
 'str': 'ABC',
 'bool': True,
 'list': [1, 2, 3],
 'tuple': (1, 2, 3),
 'dict': {'1': '2', '3': '4'}}

In [65]:
d['index']

'value'

In [66]:
d['int']

10

In [68]:
d['list'][0]

1

In [69]:
d['tuple']

(1, 2, 3)

In [70]:
d['dict']

{'1': '2', '3': '4'}

In [76]:
print("Values ->", list(d.values()))
print("Keys ->", list(d.keys()))

Values -> ['value', 10, 10.5, 'ABC', True, [1, 2, 3], (1, 2, 3), {'1': '2', '3': '4'}]
Keys -> ['index', 'int', 'float', 'str', 'bool', 'list', 'tuple', 'dict']

In [77]:
# set
s = {1,2,3,4,5,6,7,7,7,7,7,-1,-10,15, 0}

In [78]:
s

{-10, -1, 0, 1, 2, 3, 4, 5, 6, 7, 15}

In [79]:
list(s)

[0, 1, 2, 3, 4, 5, 6, 7, 15, -10, -1]

In [80]:
tuple(s)

(0, 1, 2, 3, 4, 5, 6, 7, 15, -10, -1)

# Operators:

1. Arthimetic Operators:
    * '+'
    * '-'
    * '*'
    * /
    * //
    * %
    * '**'
2. Conditional Operators:
    * ">"
    * "<"
    * ">="
    * "<="
    * == (compare)
    * != (not compare)
    * and
    * or

In [83]:
# arthimetic operators:

a = 10
b = 20

print("+ ->", a+b)
print("- ->", a-b)
print("* ->", a*b)
print("/ ->", a/b)

+ -> 30
- -> -10
* -> 200
/ -> 0.5

In [87]:
20**4

160000

In [88]:
2%2

0

In [89]:
2/2

1.0

In [90]:
4%2

0

In [91]:
6%2

0

In [92]:
6%5

1

In [93]:
2//2

1

In [94]:
# conditional operators:

print(2>3)
print(2<3)
print(2>=3)
print(2<=3)
print(2==3)
print(2!=3)

False
True
False
True
False
True

In [95]:
id = 'HridayG'
password = "Hola_amigo"

In [99]:
(id == 'HridayG') and (password=="HridayG23")
# True                  False -> False

False

In [100]:
(id == 'HridayG') or (password=="HridayG23")
# True                  False -> True

True

In [101]:
(id == 'HridayG') and (password=="Hola_amigo")
# True                  True -> True

True

In [102]:
(id == 'Hriday') or (password=="HridayG23")

False

# Conditions
<pre>
Syntax for conditions:
    if (condition):
        code
    else:
        code
</pre>

In [104]:
if(2>3):
    print("Yes")
else:
    print("No")

No

In [106]:
id = 'HridayG'
password = "Hola_amigo"

if ((id == 'HridayG') or (password=="Hola_amigo")):
    print("Logged in")
else:
    print("Couldn't login")

Logged in